
<script src="library/jquery/dist/jquery.min.js"></script>
<script src="library/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="library/angular/angular.min.js"> </script>
<script src="library/angular-bootstrap/ui-bootstrap.min.js"> </script>

<script src="library/angular-socket-io/socket.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- Module Socket -->
<script src="js/app.js"> </script>

</body>
</html>