<nav class="navbar navbar-reverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="/painel/">Dra. Telma Menezes</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li><a href="/painel/atendimento">Lista de Pacientes</a></li>
       <li><a href="/painel/chamada">Painel de Chamado</a></li>
       <li><a href="/painel/usuario"> Usuário </a></li>
       <li><a href="/painel/relatorios">Relatórios</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</div>
</nav>